<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 playerlist">
	<div>
		<h2 class="textTitle">Players</h2>
		<div id="player"></div>
	</div>
</div>

<div class="col-xs-6 col-sm-8 col-md-10 col-lg-10 col-xs-offset-6 col-sm-offset-4 col-md-offset-2 col-lg-offset-2" style="overflow-y: auto;">
	<div>
		<h1 id="message" class="text"></h1>
		<div id="content" class="text"></div>
	</div>
</div>

<script type="text/javascript">
	$(function(){
		var isStoryteller = false;
		var messageBuffer;
		var card;
		if($('#game.html.css').length == 0 ){
 			$("head").append($("<link id='game.html.css' rel='stylesheet' type='text/css' href='template/css/game.css'>"));
 		}
 		window.userSocket.on('game', function(action){
 			console.log("GAME:", action);
 			switch(action.type){
 				case 'init':
					$("#player").html('');
					for(var i = 0; i < action.playerlist.length; i++){
						$("#player").append('<p><i class="glyphicon glyphicon-user"></i> '+action.playerlist[i].user.user+'<span id="'+action.playerlist[i].id+'" class="badge pull-right">'+action.playerlist[i].point+'</span></p>');
					}
					$("#content").html('');
					isStoryteller = action.isStoryteller;
					if(action.isStoryteller){
						$("#message").html('');
						$("#content").append('<h1>Please choose a card and tell a story</h1>');
						for(var i = 0; i < action.player.cards.length; i++)
							$("#content").append('<a href="#" class="card" data-value="'+action.player.cards[i]+'"><div data-src="holder.js/140x140" class="img-rounded" style="background-image: url(\''+action.player.cards[i]+'\'); width: 150px; height: 240px;" src="" data-holder-rendered="true"></div></a>');
						$("#content").append('<p></p>');
						$("#content").append('<div class="form-group"><input type="text" class="form-control cleartext" id="story" placeholder="Your story about the picture"></div>');
						$('.card').on('click', storytellerCardEvent);
						break;
					}else{
						$("#message").html('');
						$("#content").append('<h1>Waiting for storyteller <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></h1>');
						messageBuffer = action;
					}
					break;
				case 'story':
					$("#content").html('');
					$("#message").html('');
					$("#content").append('<h1>Please choose a card to fake the others</h1>');
					$("#content").append('<h1>Story: '+action.story+'</h1>');
					for(var i = 0; i < messageBuffer.player.cards.length; i++)
						$("#content").append('<a href="#" class="card" data-value="'+messageBuffer.player.cards[i]+'"><div data-src="holder.js/140x140" class="img-rounded" style="background-image: url(\''+messageBuffer.player.cards[i]+'\'); width: 150px; height: 240px;" src="" data-holder-rendered="true"></div></a>');
					$('.card').on('click', fakeCardEvent);
					messageBuffer = null;
					break;
				case 'guess':
					if(!isStoryteller){
						$("#content").html('');
						$("#message").html('');
						$("#content").append('<h1>Please vote the card you think is telling the true story</h1>');
						$("#content").append('<h1>Story: '+action.story+'</h1>');
						for(var i = 0; i < action.cards.length; i++){
							if(action.cards[i] == card) continue;
							$("#content").append('<a href="#" class="card" data-value="'+action.cards[i]+'"><div data-src="holder.js/140x140" class="img-rounded" style="background-image: url(\''+action.cards[i]+'\'); width: 150px; height: 240px;" src="" data-holder-rendered="true"></div></a>');
						}
						$('.card').on('click', guessCardEvent);
					}
					break;
				case 'nextRound':
					window.userSocket.emit('game', {type:'initRound'});
					break;
				case 'roundScore':
					for(var i = 0; i < action.players.length; i++){
						$("#"+action.players[i].id).html(action.players[i].point);
					}
					$("#content").html('');
					$("#content").append('<button id="continue" type="button" class="btn btn-danger btn-lg btn-block">Continue</button>');
					$("#message").html('Round Result');

					var story;
					for(var m in action.matching){
						if(action.matching[m].isTruth){
							story = action.matching[m];
							story['link'] = m;
						}
					}
					var img = '<div data-src="holder.js/140x140" class="img-rounded resultcard" style="background-image: url(\''+story.link+'\'); width: 225px; height: 360px;" src="" data-holder-rendered="true"></div>';
					var score = '<h2>Detail Score</h2>';
					for(var i = 0; i < action.score.length; i++){
						if(action.score[i].addition && action.score[i].addition > 0){
							score += '<h3>'+action.score[i].player.user+" : "+action.score[i].reason+'<span class="badge pull-right">+'+action.score[i].addition+'</span></h3>';
						}else if(action.score[i].overflow && action.score[i].overflow > 0){
							score += '<h3>'+action.score[i].player.user+' : Score overflow <span class="badge pull-right">-'+action.score[i].overflow+'</span></h3>';
						}
					}
					$('#content').append('<div class="row"><div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">'+img+'</div><div class="col-lg-9 col-md-8 col-sm-6 col-xs-12 cleartext">'+score+'</div></div>');
					var row = '';
					for(var m in action.matching){
						if(action.matching[m].isTruth) continue;
						if(action.matching[m].guessed.length <= 0) continue;
						var guessed = '';
						for(i = 0; i < action.matching[m].guessed.length; i++){
							guessed += '<h2 style="background: rgba(0,0,0,0.6);"><center>'+action.matching[m].guessed[i].user+'</center></h2>';
						}
						row += '<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><h2>Voted: '+action.matching[m].player.user+'</h2><div data-src="holder.js/140x140" class="img-rounded resultcard" style="background-image: url(\''+m+'\'); width: 225px; height: 360px; height: 360px; padding: 5px 10px;" src="" data-holder-rendered="true">'+guessed+'</div></div>';
					}
					$('#content').append('<div class="row">'+row+'</div>');
					$('#content').append('<div class="clearfix">');
					$("#continue").on('click', continueEvent);
					break;
				case 'gameEnd':
					for(var i = 0; i < action.players.length; i++){
						$("#"+action.players[i].id).html(action.players[i].point);
					}
					$("#content").html('');
					$("#content").append('<button id="continue" type="button" class="btn btn-danger btn-lg btn-block">Continue</button>');
					$("#message").html('Round Result');

					var story;
					for(var m in action.matching){
						if(action.matching[m].isTruth){
							story = action.matching[m];
							story['link'] = m;
						}
					}
					var img = '<div data-src="holder.js/140x140" class="img-rounded resultcard" style="background-image: url(\''+story.link+'\'); width: 225px; height: 360px;" src="" data-holder-rendered="true"></div>';
					var score = '<h2>Detail Score</h2>';
					for(var i = 0; i < action.score.length; i++){
						if(!action.score[i].addition) continue;
						score += '<h3>'+action.score[i].player.user+" : "
						+action.score[i].reason+'<span class="badge pull-right">+'+action.score[i].addition+'</span></h3>';
					}
					$('#content').append('<div class="row"><div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">'+img+'</div><div class="col-lg-9 col-md-8 col-sm-6 col-xs-12 cleartext">'+score+'</div></div>');
					var row = '';
					for(var m in action.matching){
						if(action.matching[m].isTruth) continue;
						if(action.matching[m].guessed.length <= 0) continue;
						var guessed = '';
						for(i = 0; i < action.matching[m].guessed.length; i++){
							guessed += '<h2 style="background: rgba(0,0,0,0.6);"><center>'+action.matching[m].guessed[i].user+'</center></h2>';
						}
						row += '<h2>Voted: '+action.matching[m].player.user+'</h2><div data-src="holder.js/140x140" class="img-rounded resultcard" style="background-image: url(\''+m+'\'); width: 225px; height: 360px; height: 360px; padding: 5px 10px;" src="" data-holder-rendered="true">'+guessed+'</div>';
					}
					$('#content').append('<div class="row"><div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">'+row+'</div>');
					$('#content').append('<div class="clearfix">');
					messageBuffer = action;
					$("#continue").on('click', gameEndEvent);
					break;
				case 'gameEndException':
					$(".wrapper").html('<div id="gameEnd" class="text container"></div>');
				    $("#gameEnd").html('<div class="row"><h1 class="ultraBig text">Someone leave the game</h1></div>');
				    for(var i = 0; i < action.players.length; i++){
				    	var add = 0;
				    	if(action.players[i].point >= 30){
				    		add = 30*2;
				    	}else if(action.players[i].point >= 10){
				    		add = action.players[i].point;
				    	}
				    	$("#gameEnd").append('<div class="row"><h1 class="cleartext">'+action.players[i].user.user+' : <span class="badge littleBig">+'+add+'</span> '+(action.players[i].user.score + add)+'</h1></div>');
				    }
				    $("#gameEnd").append('<button id="continue" type="button" class="btn btn-danger btn-lg btn-block">End Game</button>');
				    $("#continue").on('click', leaveRoomEvent);
					break;
 			}
 		});
		var storytellerCardEvent = function(event){
	    	$(".card").off('click', storytellerCardEvent);
	    	$(this).toggleClass('selected');
	    	for(var i = $('.card').length - 1; i >= 0; i--){
	    		if($('.card')[i].dataset.value == this.dataset.value) continue;
	    		$('.card')[i].remove();
	    	}
	    	$("#content").append('<button id="send" type="submit" class="btn btn-lg btn-default">Send</button>')
	    	$("#send").on('click', storytellerSendEvent);
	    }

	    var fakeCardEvent = function(event){
	    	$(".card").off('click', fakeCardEvent);
	    	window.userSocket.emit('game', {type:'guesserFake', card: this.dataset.value});
	    	card = this.dataset.value;
	    	$("#content").html('');
		    $("#message").html('Waiting for the others <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>');
	    }

	    var guessCardEvent = function(event){
	    	$(".card").off('click', guessCardEvent);
	    	window.userSocket.emit('game', {type:'guesserVote', card: this.dataset.value});
	    	$("#content").html('');
		    $("#message").html('Waiting for the others <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>');
	    }

	    var storytellerSendEvent = function(event){
			$("#send").off('click', storytellerSendEvent);
			if($("#story").val() == ''){
				alert("Don't enter empty story!");
				$("#send").on('click', storytellerSendEvent);
				return;
			}
			window.userSocket.emit('game', {type:'storytellerTell', card: $('.selected')[0].dataset.value, story: _.escape(filterXSS($('#story').val()))});
		    $("#content").html('');
		    $("#message").html('Waiting for the others <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>');
	    }

	    var continueEvent = function(event){
			$("#continue").off('click', continueEvent);
			window.userSocket.emit('game', {type:'continue'});
		    $("#content").html('');
		    $("#message").html('Waiting for the others <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>');
	    }

	    var gameEndEvent = function(event){
			$("#continue").off('click', gameEndEvent);
			$(".wrapper").html('<div id="gameEnd" class="text container"></div>');
		    $("#gameEnd").html('<div class="row"><h1 class="ultraBig text">GAME RESULT</h1></div>');
		    for(var i = 0; i < messageBuffer.players.length; i++){
		    	var add = 0;
		    	if(messageBuffer.players[i].point >= 30){
		    		add = 30*2;
		    	}else if(messageBuffer.players[i].point >= 10){
		    		add = messageBuffer.players[i].point;
		    	}
		    	$("#gameEnd").append('<div class="row"><h1 class="cleartext">'+messageBuffer.players[i].user.user+' : <span class="badge littleBig">+'+add+'</span> '+(messageBuffer.players[i].user.score + add)+'</h1></div>');
		    }
		    $("#gameEnd").append('<button id="continue" type="button" class="btn btn-danger btn-lg btn-block">End Game</button>');
		    $("#continue").on('click', leaveRoomEvent);
	    }

	    var leaveRoomEvent = function(event){
	    	$("#continue").off('click', leaveRoomEvent);
	    	window.userSocket.emit('game', {type:'gameLeave'});
	    	window.userSocket.removeAllListeners("game");
	    	pageTransition('lobby.html');
	    }

 		window.userSocket.emit('game', {type:'init'});
	});
</script>