	<div class="lobby">
		<nav class="top">
			<a href="#" class="pull-left" data-toggle="modal" data-target="#createRoom">
				<i class="glyphicon glyphicon-plus-sign"></i>
			</a>
			<a href="#" class="pull-left refreshBtn">
				<i class="glyphicon glyphicon-refresh"></i>
			</a>
			<a href="#" class="pull-right" data-toggle="modal" data-target="#logoutModal">
				<i class="glyphicon glyphicon-log-out"></i>
			</a>
			<a href="#" class="pull-right" data-toggle="modal" data-target="#questionModal">
				<i class="glyphicon glyphicon-question-sign"></i>
			</a>
			<center>Game Lobby</center>
		</nav>
	</div>

	<div class="clearfix"></div>
	
	<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 memberlist">
		<div>
			<h2 class="textTitle">Online Players</h2>
			<div id="onlineplayer"></div>
		</div>
	</div>

	<div class="col-xs-6 col-sm-8 col-md-10 col-lg-10 col-xs-offset-6 col-sm-offset-4 col-md-offset-2 col-lg-offset-2">
		<div class="container-fluid">
			<div class="row roomList">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div class="thumbnail success">
						<div class="caption">
			       		<h3>Room Name</h3>
			       		<p>Detail:...</p>
			        	<p>
				        	<a href="#" class="btn btn-success" role="button">Enter</a>
			        	</p>
			      	</div>
					</div>
				</div>
			</div>
		</div>
	 </div>

	<!-- Logout -->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Logout</h4>
				</div>
				<div class="modal-body">
					Are you sure to logout?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-danger" id="logout" >Logout</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Question -->
	<div class="modal fade" id="questionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">How to play?</h4>
				</div>
				<div class="modal-body">
					<img src="img/help1.png" style="width: 100%"><br>
					<img src="img/help2.png" style="width: 100%"><br>
					<blockquote>
						<p><b>Game Room</b></p>
						<p>Requirement: 3~12 players</p>
						<p>Mode:<p>
						<ul>
							<li>Golden Goal: Player won whose point reaches 30</li>
							<li>Classic: Player must get exactly 30 points, exceeded points will be deducted</li>
						</ul>
						<p>Private Room: You may set a password for the room</p>
					</blockquote>
					<h2>Gameplay</h2>
					<img src="img/help3.png" style="width: 100%">
					<img src="img/help4.png" style="width: 100%">
					<img src="img/help5.png" style="width: 100%">
					<img src="img/help6.png" style="width: 100%">
					<img src="img/help7.png" style="width: 100%">
					<h2>Scoring</h2>
					<blockquote>
						<p>If no one guessed the correct card</p>
						<ul>
							<li>Storyteller: 0 point</li>
							<li>Player receiving votes: 1 point/vote</li>
						</ul>
						<p>If everyone guessed the correct card</p>
						<ul>
							<li>Storyteller: 0 point</li>
							<li>Guessers: 2 points</li>
						</ul>
						<p>If someone guessed the correct card</p>
						<ul>
							<li>Storyteller: 3 points</li>
							<li>Correct guess: 2 points</li>
							<li>Player receiving votes: 1 point/vote</li>
						</ul>
						<p>Game scoring</p>
						<ul>
							<li>Winner (&gt;= 30 points): 60 points</li>
							<li>Loser (&lt; 10 points): 0 point</li>
							<li>Players: Same as the game point</li>
						</ul>
					</blockquote>
				</div>
			</div>
		</div>
	</div>

	<!-- Create Room -->
	<div class="modal fade" id="createRoom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Create new room</h4>
				</div>
			<div class="modal-body">
				<div class="form-group">
					<form id="createRoomForm">
						<input class="form-control" type="text" id="room_name" placeholder="Room name">
						<input class="form-control" type="number" id="room_size" min="3" max="12" placeholder="Number of player(s) (3~12)">
						<input class="form-control" type="password" id="room_pass" placeholder="Password">
						<select class="form-control" id="room_type">
							<option value="gg">Golden Goal</option>
							<option value="c">Classic</option>
						</select>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-dismiss="modal" aria-label="Close" id="roomCreate" >Create</button>
			</div>
			</div>
		</div>
	</div>

	<!-- Authenticate room -->
	<div class="modal fade" id="authenticateRoom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeAuth"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Entering room</h4>
				</div>
			<div class="modal-body">
				<div class="form-group">
					<form id="authenticateRoomForm">
						<p>Please enter the password for room: <span></span></p>
						<input class="form-control" type="hidden" id="auth_name" placeholder="Password">
						<input class="form-control" type="password" id="auth_pass" placeholder="Password">
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-dismiss="modal" aria-label="Close" id="roomAuth" >Enter</button>
			</div>
			</div>
		</div>
	</div>

	<a href="#" id="authBtn" class="pull-left hide" data-toggle="modal" data-target="#authenticateRoom">
		<i class="glyphicon glyphicon-plus-sign"></i>
	</a>
	
	<script type="text/javascript">
		$(function(){
			if($('#lobby.html.css').length == 0 ){
     			$("head").append($("<link id='lobby.html.css' rel='stylesheet' type='text/css' href='template/css/lobby.css'>"));
     		}

     		window.userSocket.on('lobby', function(action){
     			console.log(action);
     			switch(action.type){
     				case 'playerlist':
     					$('#onlineplayer').html('');
		    			for(var i = 0; i < action.list.length; i++){
		    				if(action.list[i])
		    					$("#onlineplayer").append('<p><i class="glyphicon glyphicon-user"></i> '+action.list[i].name+'<span class="badge pull-right">'+action.list[i].score+'</span></p>')
		    			}
		    			break;
		    		case 'roomlist':
		    			$(document.body).off("click", '.roomEnter', enterRoomHandler);
		    			$(document.body).off("click", '.roomAuthEnter', enterAuthRoomHandler);
		    			$('.roomList').html('');
		    			list = action.list;
		    			for(var i = 0; i<list.length;i++){
		    				if(list[i].status > 0) continue;
		    				var color = (list[i].userSize==list[i].size?'thumbnail_full':(list[i].status > 0?'thumbnail_full':'thumbnail_empty'));
		    				var disable = (list[i].userSize==list[i].size?'disabled':(list[i].status > 0?'disabled':''));
		    				$('.roomList').append('<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">\
								<div class="thumbnail '+color+'">\
									<div class="caption">\
						       		<h1 class="fontOnly">'+list[i].name+'</h1>\
						       		'+(list[i].status > 0?'<p>Playing</p>':'<p>Players: '+list[i].userSize+'/'+list[i].size+'</p>')+'\
						       		<p>'+(list[i].type=='gg'?"Golden Goal":"Classic")+'</p>\
						        	<p>\
							        	<button '+disable+' href="#" class="btn btn-success '+(list[i].auth?'roomAuthEnter':'roomEnter')+'" role="button" data-room="'+list[i].name+'" data-ruid="'+list[i].ruid+'">Enter</button>\
						        	</p>\
						      	</div>\
								</div>\
							</div>');
		    			}
		    			$(document.body).on("click", '.roomEnter', enterRoomHandler);
		    			$(document.body).on("click", '.roomAuthEnter', enterAuthRoomHandler);
		    			break;
		    		case 'joinError':
		    			alert(action.message);
		    			$(document.body).off("click", '.roomEnter', enterRoomHandler);
		    			$(document.body).off("click", '.roomAuthEnter', enterAuthRoomHandler);
		    			$(document.body).on("click", '.roomEnter', enterRoomHandler);
		    			$(document.body).on("click", '.roomAuthEnter', enterAuthRoomHandler);
		    			$('#roomAuth').off("click", roomAuthEvent);
		    			$('#roomAuth').on("click", roomAuthEvent);
		    			break;
		    		case 'join':
		    			$(document.body).off("click", '.roomEnter', enterRoomHandler);
		    			$(document.body).off("click", '.roomAuthEnter', enterAuthRoomHandler);
		    			$('#logout').off('click');
		    			window.userSocket.removeAllListeners("lobby");
		    			pageTransition('room.html');
		    			break;
     			}
     		});

     		window.userSocket.emit('lobby', {type:'getList'});

     		$('#logout').on("click", function( event ){
				window.userSocket.emit('authentication', {type:'logout'});
			});
			var enterRoomHandler = function( event ){
				window.userSocket.emit('lobby', {type:'join', room:this.dataset.ruid});
			};
			//$(document.body).on("click", '.roomEnter', enterRoomHandler);

			var enterAuthRoomHandler = function( event ){
				$("#authenticateRoomForm p span").html(this.dataset.room);
		    	$("#auth_name").val(this.dataset.ruid);
    			$("#authBtn").click();
			}
			//$(document.body).on("click", '.roomAuthEnter', enterAuthRoomHandler);
			
			$('#roomCreate').on("click", function( event ){
				if($('#room_size').val() > 2 && $('#room_size').val() < 13){
					window.userSocket.emit('lobby', 
						{
							type:"create", 
							room:{
								name: _.escape(filterXSS($('#room_name').val())), 
								size: _.escape(filterXSS($('#room_size').val())), 
								pass: _.escape(filterXSS($('#room_pass').val())), 
								type: $("#room_type").val()
							}
						}
					);
				}else{
					$('#createRoomForm')[0].reset();
					alert("Please enter a room size 3 ~ 12 person.")
				}
			});

			var roomAuthEvent = function( event ){
				$('#roomAuth').off("click", roomAuthEvent);
				console.log(this);
				window.userSocket.emit('lobby', 
					{
						type:"join", 
						room:$("#auth_name").val(), 
						pass: $("#auth_pass").val()
					}
				);
				$("#authenticateRoomForm p span").html('');
				$("#auth_pass").val('');
				$("#auth_name").val('');
			}
			$('#roomAuth').on("click", roomAuthEvent);

			$("#closeAuth").on("click", function(event){
				$(document.body).on("click", '.roomEnter', enterRoomHandler);
			})
			$('.refreshBtn').on("click", function(event){
				window.userSocket.emit('lobby', {type:'getList'});
			});
		});



		$(function(){
			var list;
/*
			if($('#lobby.html.css').length == 0 ){
     			$("head").append($("<link id='lobby.html.css' rel='stylesheet' type='text/css' href='template/css/lobby.css'>"));
     		}
     		var lobbyEvent = function(e){
		    	console.log(e.message);
		    	switch(e.message.type){
		    		case 'newPlayerPushed':
		    			$.event.trigger({
							type: "lobbyAction",
							message: {type:"getPlayerList"}
						});
		    			break;
		    		case 'newRoomPushed':
		    			$.event.trigger({
							type: "lobbyAction",
							message: {type:"getRoomList"}
						});
		    			break;
		    		case 'authenticate':
		    			$("#authenticateRoomForm p span").html(e.message.roomname);
		    			$("#auth_name").val(e.message.room);
		    			$("#authBtn").click();
		    			break;
		    		case 'roomNotExist':
		    			alert("Room not exist!");
		    			break;
		    		case 'roomAuthError':
		    			$(document.body).on("click", '.roomEnter', enterRoomHandler);
		    			alert("Password incorrect!");
		    			break;
		    		case 'roomlist':
		    			$('.roomList').html('');
		    			list = e.message.message;
		    			for(var i = 0; i<list.length;i++){
		    				if(list[i].status > 0) continue;
		    				var color = (list[i].userSize==list[i].size?'thumbnail_full':(list[i].status > 0?'thumbnail_full':'thumbnail_empty'));
		    				var disable = (list[i].userSize==list[i].size?'disabled':(list[i].status > 0?'disabled':''));
		    				$('.roomList').append('<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">\
								<div class="thumbnail '+color+'">\
									<div class="caption">\
						       		<h1 class="fontOnly">'+list[i].name+'</h1>\
						       		'+(list[i].status > 0?'<p>Playing</p>':'<p>Players: '+list[i].userSize+'/'+list[i].size+'</p>')+'\
						       		<p>'+(list[i].type=='gg'?"Golden Goal":"Classic")+'</p>\
						        	<p>\
							        	<button '+disable+' href="#" class="btn btn-success roomEnter" role="button" value="'+list[i].ruid+'">Enter</button>\
						        	</p>\
						      	</div>\
								</div>\
							</div>');
		    			}
		    			break;
		    		case 'playerlist':
		    			$('#onlineplayer').html('');
		    			for(var i = 0; i < e.message.message.length; i++){
		    				if(e.message.message[i])
		    					$("#onlineplayer").append('<p><i class="glyphicon glyphicon-user"></i> '+e.message.message[i].name+'<span class="badge pull-right">'+e.message.message[i].score+'</span></p>')
		    			}
		    			break;
		    	}
		    }

		    $(document).off("lobby", lobbyEvent);
	    	$(document).on("lobby", lobbyEvent);

		    */
			
		});

		

		
	</script>