	<div class="logon">
		<div class="logonbox">
			<form>
				<h1>Login to play DiXit!</h1>
				<div class="form-group">
					<p><input class="form-control credentials" id="user" type="text" placeholder="Login ID"></p>
					<p><input class="form-control credentials" id="pass" type="password" placeholder="Password"></p>
					<p id="logonsubmit"><input class="form-control logonbtn button" type="submit" value="Log in"></p>
					<p id="registration"><input class="form-control logonbtn button" type="submit" value="Registration"></p>
					<p id="error"></p>			
				</div>
			</form>
		</div>
	</div>

	<script type="text/javascript">
		$(function(){
			if($('#login.html.css').length == 0 ){
     			$("head").append($("<link id='login.html.css' rel='stylesheet' type='text/css' href='template/css/login.css'>"));
     		}
		});

		var submitAction = function(event){
			event.preventDefault();
			$( "#logonsubmit" ).off( "click", "input", submitAction);
		 	if($('#user').val() == '' || $('#pass').val() == ''){
		 		return alert("Please enter username and passord!");
		 	}
		 	$('.logon').fadeOut('fast', function(){
		 		window.userSocket.emit("authentication", {type:"login", user: $('#user').val(), pass: $().crypt({method:"sha1",source:$('#pass').val()})});
		 	});
		};

	   	$( "#logonsubmit" ).on( "click", "input", submitAction);

	   	var registrationAction = function( event ) {
	   		$( "#registration" ).off( "click", "input", registrationAction);
	   		event.preventDefault();
		 	$('.logon').fadeOut('fast', function(){
		 		pageTransition("register.html");
		 	});
		};

		$( "#registration" ).on( "click", "input", registrationAction);
	</script>

	