	<div class="logon">
		<div class="logonbox">
			<form>
				<h1>DiXit! Offline</h1>
				<p>Server is currently in maintenance.</p>
			</form>
		</div>
	</div>

	<script type="text/javascript">
		$(function(){
			if($('#login.html.css').length == 0 ){
     			$("head").append($("<link id='login.html.css' rel='stylesheet' type='text/css' href='template/css/login.css'>"));
     		}
		});
	   	$( "#logonsubmit" ).on( "click", "input", function( event ) {
		 	event.preventDefault();
		 	if($('#user').val() == '' || $('#pass').val() == ''){
		 		return alert("Please enter username and passord!");
		 	}
		 	$('.logon').fadeOut('slow', function(){
 				$.event.trigger({
					type: "remoteAction",
					message: {type:"synchronize", user: $('#user').val(), pass: $().crypt({method:"sha1",source:$('#pass').val()})}
				});
		 	});
		});
	</script>

	