	<div class="logon">
		<div class="logonbox">
			<form>
				<h1>Registration</h1>
				<div class="form-group">
					<p><input class="form-control credentials" id="user" type="text" placeholder="Login ID"></p>
					<p><input class="form-control credentials" id="pass" type="password" placeholder="Password"></p>
					<p><input class="form-control credentials" id="pass2" type="password" placeholder="Re-type the password"></p>
					<p id="register"><input class="form-control logonbtn button" type="submit" value="Register"></p>
					<p id="error"></p>	
				</div>
			</form>
		</div>
	</div>

	<script type="text/javascript">
		/*
		$(function(){
			if($('#login.html.css').length == 0 ){
     			$("head").append($("<link id='login.html.css' rel='stylesheet' type='text/css' href='template/css/login.css'>"));
     		}
		});
		*/
		var registerEvent = function( event ) {
	   		event.preventDefault();
			$("#register").off( "click", "input", registerEvent);
	   		if($('#user').val() == '' || $('#pass').val() == ''){
		 		return alert("Please enter username and passord!");
		 	}
		 	if($('#pass').val() != $('#pass2').val()){
		 		return alert("The passwords does not match!");
		 	}
		 	$('.logon').fadeOut('slow', function(){
		 		window.userSocket.emit('registration', {type:"register", user: $('#user').val(), pass: $().crypt({method:"sha1",source:$('#pass').val()})});
		 	});
	   	}
	   	$( "#register" ).on( "click", "input", registerEvent);
	   	/*
	   	$( "#logonsubmit" ).on( "click", "input", function( event ) {
		 	event.preventDefault();
		 	if($('#user').val() == '' || $('#pass').val() == ''){
		 		return alert("Please enter username and passord!");
		 	}
		 	$('.logon').fadeOut('slow', function(){
 				$.event.trigger({
					type: "remoteAction",
					message: {type:"synchronize", user: $('#user').val(), pass: $().crypt({method:"sha1",source:$('#pass').val()})}
				});
		 	});
		});
		*/
	</script>

	