.playerlist{
	height: 100%;
	position: fixed;
	background: rgba(92, 56, 36, 0.4);
	color: #FFF;
}
.text{
	font-family: 'Yesteryear', cursive;
	color: #FFF;
}
.cleartext{
	font-family: 'Helvetica', 'Arial';
}
.card div, .resultcard{
	background-repeat: no-repeat;
	background-position:  cover;
	background-size: cover;
	background-position: 50% 50%;
	border: 8px solid #FFF;
	margin: 4px;
	display: inline-block;

}
.nocard div{
	background-repeat: no-repeat;
	background-position:  cover;
	background-size: cover;
	background-position: 50% 50%;
	opacity: 0.4;
	border: 8px solid #FFF;
	margin: 4px;
	display: inline-block;
    filter: alpha(opacity=40);
}
h1, h2, h3 {
  	text-shadow: 2px 2px #000000;
}
.ultraBig {
    font-size: 72pt;
}
.littleBig {
    font-size: 32px;
}
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #FFF;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}