		.top{
			padding: 5px;
			font-size: 24pt;
			font-family: 'Yesteryear', cursive;
			color: #FFF;
			background-color: #5c3824;
		}

		.top a{
			color: #FFF;
			padding: 5px;
		}
		.top a:hover{
			color: #F00;
		}
		.thumbnail_empty{
			background-color: #b7debf;
		}
		.thumbnail_full{
			background-color: #AAA;
		}
		.memberlist{
			height: 100%;
			position: fixed;
			background: rgba(92, 56, 36, 0.4);
			color: #FFF;
		}
		.ultraBig{
			font-size: 72pt;
		}
		.textTitle{
			font-family: 'Yesteryear', cursive;
			color: #FFF;
		}
		.fontOnly{
			font-family: 'Yesteryear', cursive;
		}
		h1, h2, h3 {
		  	text-shadow: 2px 2px #000000;
		}

		.spinner {
		  margin: 100px auto 0;
		  width: 70px;
		  text-align: center;
		}

		.spinner > div {
		  width: 18px;
		  height: 18px;
		  background-color: #FFF;

		  border-radius: 100%;
		  display: inline-block;
		  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
		  animation: bouncedelay 1.4s infinite ease-in-out;
		  /* Prevent first frame from flickering when animation starts */
		  -webkit-animation-fill-mode: both;
		  animation-fill-mode: both;
		}

		.spinner .bounce1 {
		  -webkit-animation-delay: -0.32s;
		  animation-delay: -0.32s;
		}

		.spinner .bounce2 {
		  -webkit-animation-delay: -0.16s;
		  animation-delay: -0.16s;
		}

		@-webkit-keyframes bouncedelay {
		  0%, 80%, 100% { -webkit-transform: scale(0.0) }
		  40% { -webkit-transform: scale(1.0) }
		}

		@keyframes bouncedelay {
		  0%, 80%, 100% { 
		    transform: scale(0.0);
		    -webkit-transform: scale(0.0);
		  } 40% { 
		    transform: scale(1.0);
		    -webkit-transform: scale(1.0);
		  }
		}