
		.logon{
			width: 65%;
			height: 90%;
			background-image:  url("../img/logon.png");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			top: 0;
			left: 0;
			position: fixed;
			bottom: 0%;
			right: 0%;
			word-wrap: break-word;
			margin: auto;
			text-align: center;
		}
		.logonbox h1{
			font-family: 'Yesteryear', cursive;
			font-size: 48pt;
			font-weight: 900;
		}
		.logonbox{
			position: fixed;
			color:#5c3824;
			font-weight: 900;
			height: 200px;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			margin: auto;
		}
		.credentials{
			font-size: 16pt;
			margin: 0 auto;
			width: 30%;
			background: transparent;
			border: #5c3824 2px dotted;
			color: #5c3824;
			text-align: center;
		}
		.logonbtn{
			font-size: 16pt;
			padding: 0;
			margin: 0 auto;
			width: 30%;
			background: transparent;
			border: #5c3824 2px dotted;
			color: #5c3824;
			text-align: center;
			vertical-align: middle;
		}
		.credentials input:-moz-placeholder {
			color: #5c3824;
		}
		/* individual: webkit */
		.credentials::-webkit-input-placeholder { color:#835f4c;  }
		/* individual: mozilla */
		.credentials::-moz-placeholder { color:#835f4c; }
		#error{
			color:red;
			font-weight: bold;
		}
